# xcode noise
build/*
*.pbxuser
*.mode1v3

# old skool
.svn

# osx noise
.DS_Store
profile

JPImagePickerDemo/JPImagePickerDemo.xcodeproj/project.xcworkspace/*
JPImagePickerDemo/JPImagePickerDemo.xcodeproj/xcuserdata/*
JPImagePickerDemo/build/*
